# Ignore node_modules and build artifacts
node_modules
bin
obj

# Ignore user-specific files
*.user
*.suo

# Ignore local configuration files
*.config
.env

# Ignore migrations folder (only if you don't want it in the container)
#Migrations/
